// Grand Central Station

@import 'google-homepage' ;
@import url('https://fonts.googleapis.com/css?family=Dosis');


//Color Palette
$orange: #eb7342;
$yellow: #fed766;
$red: #f22433;
$white-ish: #fcfbf8;

//First Frame

img {
    transform: scale(.5) rotate(0);
    transition: transform 1s;
    opacity: .5;
    width: 50%;
}

//Last Frame
img:hover {
    opacity: 1;
//    transition: opacity 1s;
    transform: scale(2) rotate(180deg);
}

body {
    background: white;
}

input {
    height: 1em;
}

button {
    margin-right: 30px;
    background: $white-ish;
}

h1 {
    font-family: 'Dosis';
    font-size: 8em;
    align-content: center;
    text-transform: uppercase;
    color: $yellow; 
}